<h1>Pruebas transitos</h1>
<div class="d-flex flex-wrap justify-content-center gap-2 mb-3">
    <button class="btn btn-success" [routerLink]="['/transitos', 0 , 2]">
        <i class="fa-solid fa-plus"></i> Crear nuevo tránsito
    </button>
</div>
<!-- Mensaje si no hay instalaciones -->
<div *ngIf="transitos" class="w-100">
    <h5 *ngIf="transitos.length < 1" class="text-center text-muted mt-3">
        No hay información disponible.
    </h5>

    <!-- Tabla Responsiva -->
    <div *ngIf="transitos.length > 0" id="container-table" class="table-responsive">
        <table class="table text-center table-striped table-hover table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Año</th>
                    <th>Pantalan</th>
                    <th>Instalacion</th>
                    <th>Fecha de entrada</th>
                    <th>Fecha de salida</th>
                    <th>Patrón</th>
                    <th>Embarcación</th>
                    <th>Datos de estancia</th>
                    <th>Eliminar</th>
                    <th>Editar</th>
                    <th>Lista de tripulantes</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transito of transitos; let i = index">
                    <td>{{ transito.anyo }}</td>
                    <td>{{ transito.pantalan }}</td>
                    <td>{{ transito.instalacion }}</td>
                    <td>{{ transito.fecha_entrada }}</td>
                    <td>{{ transito.fecha_salida }}</td>
                    <td>{{ transito.patron }}</td>
                    <td>{{ transito.embarcacion }}</td>
                    <td>{{ transito.datos_estancia }}</td>
                    <td>
                        <button class="btn btn-danger btn-sm" (click)="eliminarTransito(transito.embarcacion)">
                            <i class="fa-solid fa-trash"></i>Eliminar
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-warning btn-sm" [routerLink]="['/transitos', transito.embarcacion,1]">
                            <i class="fa-solid fa-pen"></i>Editar
                        </button>
                    </td>
                    <td>
                        <button class="btn btn-success btn-sm">
                            <i class="fa fa-user fa-fw"></i>Lista
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <p *ngIf="mensaje == 1" class="text-danger text-center mt-3">Tránsito eliminado correctamente</p>
        <p *ngIf="mensaje == 2" class="text-danger text-center mt-3">Error al eliminar tránsito</p>
    </div>
</div>