<div class="container d-flex flex-column align-items-center justify-content-center min-vh-100">
    <div class="col-10 col-md-8 col-lg-6">
        <div class="card text-center shadow">
            <div class="card-header bg-primary text-white p-3">
                <h1 class="mb-0">
                    {{ tipo == 0 ? 'Insertar Nuevo Muelle' : tipo == 2 ? 'Actualizar ' + muelleact.nombre_muelle : 'Borrar ' + muelleact.nombre_muelle }}
                </h1>
            </div>
            
            <div class="card-body">
                <form (ngSubmit)="comprobarTipo()">
                    <div class="row g-3">
                        <!-- Nombre -->
                        <div class="col-md-12">
                            <label for="nombre" class="form-label fw-bold">Nombre</label>
                            <input type="text" class="form-control" id="inputNombre" name="inputNombre"
                                [(ngModel)]="muelleact.nombre_muelle" [disabled]="tipo == 3">
                        </div>
                        <!-- Descripción -->
                        <div class="col-md-12">
                            <label for="descripcion" class="form-label fw-bold">Descripción</label>
                            <textarea class="form-control" id="descripcion" name="descripcion"
                                [(ngModel)]="muelleact.descripcion" rows="10" [disabled]="tipo == 3"></textarea>
                        </div>
                        <!-- Ocupado -->
                        <div class="col-md-12">
                            <label for="ocupado" class="form-label fw-bold">Ocupado</label><br>
                            <input type="checkbox" id="ocupado" name="ocupado" [(ngModel)]="muelleChecked" [disabled]="tipo == 3">
                        </div>
                        <!-- Botón -->
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary rounded-pill w-100">{{ tipo == 0 ? 'Insertar' : tipo == 2 ? 'Actualizar ' : 'Borrar ' }}</button>
                        </div>
                        <!-- Botón Volver -->
                        <div class="col-12">
                            <a routerLink="/muelles" class="btn btn-secondary rounded-pill w-100">Volver</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
