<p>breadcrumbs here</p>
<h1>Autorizaciones embarcaciones deportivas</h1>
<table border="1">
  <tr>
    <th>Año</th>
    <th>Puerto</th>
    <th>Instalación</th>
    <th>Fecha inicio</th>
    <th>Titular</th>
    <th>Estancia</th>
    <th>Nombre embarcación</th>
  </tr>
  <tr *ngFor="let item of data">
    <td>{{ item.anyo }}</td>
    <td>{{ item.puerto }}</td>
    <td>{{ item.instalacion }}</td>
    <td>{{ item.fecha_inicio }}</td>
    <td>{{ item.datos_titular }}</td>
    <td>{{ item.datos_estancia }}</td>
    <td>{{ item.datos_embarcacion }}</td>
  </tr>
</table>
