<div class="container d-flex align-items-center justify-content-center user-form">
    <div class="col-8 col-md-10 col-lg-12 card text-center">
        <div class="card-header d-flex justify-content-center align-items-center p-3">
            <h5>{{ tituloConfirmacion }}</h5>
        </div>
        <div class="card-body p-4 shadow-lg rounded-4">
            <form #userForm="ngForm" class="mt-4 text-start" (ngSubmit)="manageForm()" novalidate
                class="row gx-3 gy-2 align-items-center">
                <div [ngSwitch]="option">
                    <div *ngSwitchCase="'Insert'">
                        <ng-container *ngTemplateOutlet="contentForm"></ng-container>
                    </div>
                    <div *ngSwitchCase="'Update'">
                        <ng-container *ngTemplateOutlet="contentForm"></ng-container>
                    </div>
                    <div *ngSwitchCase="'Delete'">
                        <div class="card">
                            <div class="card-body">
                                <p>¿Está seguro de eliminar al usuario {{ username }}?</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gx-3 gy-3 justify-content-between">
                    <div class="col-6">
                        <button name="cancelar" class="btn btn-danger px-4 "
                            (click)="cancelForm($event)">Cancelar</button>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-success px-4">Aceptar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<ng-template #contentForm>
    <div class="">
        <div class="row gx-3 gy-3">
            <!-- Usuario -->
            <div class="col-md-6">
                <label for="inputUsuario" class="form-label">Usuario</label>
                <input type="text" class="form-control rounded-pill" id="inputUsuario" name="inputUsuario"
                    [(ngModel)]="currentUser.usuario" (ngModelChange)="changedForm()" >
            </div>
            <!-- Nombre -->
            <div class="col-md-6">
                <label for="inputNombre" class="form-label">Nombre</label>
                <input type="text" class="form-control rounded-pill" id="inputNombre" name="inputNombre"
                    [(ngModel)]="currentUser.nombre" (ngModelChange)="changedForm()" >
            </div>
            <!-- Email -->
            <div class="col-md-12">
                <label for="inputEmail" class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control rounded-pill" id="inputEmail" name="inputEmail"
                    [(ngModel)]="currentUser.email" (ngModelChange)="changedForm()" >
            </div>
            <!-- Idioma -->
            <div class="col-md-6">
                <label for="selectIdioma" class="form-label">Idioma</label>
                <select class="form-select rounded-pill" id="selectIdioma" name="selectIdioma"
                    [(ngModel)]="currentUser.idioma" (ngModelChange)="changedForm()">
                    <option value="" disabled selected>Selecciona un idioma...</option>
                    <option value="es">Español</option>
                    <option value="en">Inglés</option>
                    <option value="fr">Francés</option>
                </select>
            </div>
            <!-- Rol -->
            <div class="col-md-6">
                <label for="selectRol" class="form-label">Rol</label>
                <select class="form-select rounded-pill" id="selectRol" name="selectRol" 
                    [(ngModel)]="currentUser.rol" (ngModelChange)="changedForm()">
                    <option value="" disabled selected>Selecciona un rol...</option>
                    <option value="1">Administrador</option>
                    <option value="2">Editor</option>
                    <option value="3">Usuario</option>
                </select>
            </div>
            <!-- Habilitado -->
            <div class="col-md-12 d-flex justify-content-center align-items-center">
                <input class="form-check-input me-2" type="checkbox" id="checkHabilitado" name="checkHabilitado"
                    [(ngModel)]="currentUser.habilitado" (ngModelChange)="changedForm()">
                <label class="form-check-label" for="checkHabilitado">
                    Habilitado
                </label>
            </div>
        </div>
    </div>

</ng-template>