<!-- <div class="container d-flex align-items-center justify-content-center user-form">

    <div class="col-8 col-md-10 col-lg-12 card text-center">
        <div class="card-header"> {{ tituloConfirmacion }}</div>

        <div class="card-body">
            <form #userForm="ngForm" class="mt-4 text-start" (ngSubmit)="manageForm()" novalidate
                class="row gx-3 gy-2 align-items-center">
                <div [ngSwitch]="option">
                    <div *ngSwitchCase="'Insert'">
                        Usuario 
                        <div class="col-sm-3">
                            <label class="visually-hidden" for="inputUsuario">Usuario</label>
                            <input type="text" class="form-control" id="inputUsuario" placeholder="Usuario">
                        </div>
                        Nombre 
                        <div class="col-sm-3">
                            <label class="visually-hidden" for="inputNombre">Nombre</label>
                            <input type="text" class="form-control" id="inputNombre" placeholder="Nombre">
                        </div>
                        Email 
                        <div class="col-sm-3">
                            <label class="visually-hidden" for="inputEmail">Email</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Correo electrónico">
                        </div>
                        Idioma 
                        <div class="col-sm-3">
                            <label class="visually-hidden" for="selectIdioma">Idioma</label>
                            <select class="form-select" id="selectIdioma">
                                <option selected>Selecciona un idioma...</option>
                                <option value="es">Español</option>
                                <option value="en">Inglés</option>
                                <option value="fr">Francés</option>
                            </select>
                        </div>
                        Habilitado (Checkbox) 
                        <div class="col-auto">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkHabilitado">
                                <label class="form-check-label" for="checkHabilitado">
                                    Habilitado
                                </label>
                            </div>
                        </div>
                        Rol 
                        <div class="col-sm-3">
                            <label class="visually-hidden" for="selectRol">Rol</label>
                            <select class="form-select" id="selectRol">
                                <option selected>Selecciona un rol...</option>
                                <option value="1">Administrador</option>
                                <option value="2">Editor</option>
                                <option value="3">Usuario</option>
                            </select>
                        </div>
                    </div>
                    <div *ngSwitchCase="'Update'">
                        
                    </div>
                    <div *ngSwitchCase="'Delete'">

                    </div>
                </div>

                Botones 
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Cancelar</button>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div> -->