#container-tripulantes-list{
    pad: 5vh 0;
}

#container-table {
    overflow-y: auto; 
    overflow-x: auto;
    position: relative ;
    padding-bottom: 50px ;
}

#container-table table {
    width: 100%;
    border-collapse: collapse;
}

#container-table thead th{
    position: sticky;
    color: white; 
    z-index: 2;
    text-align: center;
}

#container-table thead th {
    top: 0; 
}

.modal-backdrop.show {
    background-color: rgba(0, 0, 0, 0.85) !important; 
}

.modal-content {
    backdrop-filter: blur(5px); 
    border-radius: 10px; 
}

.custom-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85); 
    z-index: 1050; 
}

.custom-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1051; 
    width: 90%;
    max-width: 600px;
}

.custom-modal .modal-content {
    animation: fadeIn 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -55%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

