/* You can add global styles to this file, and also import other style files */
* {
    margin: 0px;
    padding: 0px;
}


ng-select .ng-dropdown-panel .ng-option {
    background-color: rgb(192, 192, 192) !important;
}