<header class="fixed-top">
    <nav class="navbar bg-light">
        <div class="container-fluid">
            <!-- <img src="http://localhost:8080/client/proyectoPuerto/src/assets/images/logo.webp"> -->
            <div id="logo" [routerLink]="['/home']"></div>
            <a class="navbar-brand d-none d-md-block" [routerLink]="['/home']">
                Puerto
                deportivo La Marina
                de Valencia</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 mt-5">
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']"
                                data-bs-dismiss="offcanvas">Página
                                Principal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/users']" [routerLinkActive]="['active']"
                                data-bs-dismiss="offcanvas">Usuarios</a>
                        </li>
                        <li class="nav-item" *ngIf=" rol == 4">
                            <a class="nav-link" [routerLink]="['/clientes']" [routerLinkActive]="['active']"
                                data-bs-dismiss="offcanvas">Clientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/listaPlazas']" [routerLinkActive]="['active']"
                                data-bs-dismiss="offcanvas">Plazas
                                bases</a>
                        </li>
                        <li class="nav-item" *ngIf="rol == 4">
                            <a class="nav-link" [routerLink]="['/roles']" [routerLinkActive]="['active']"
                                data-bs-dismiss="offcanvas">Roles</a>
                        </li>
                        <li class="nav-item" *ngIf=" rol == 4">
                            <a class="nav-link" [routerLink]="['/instalacion']" [routerLinkActive]="['active']"
                                data-bs-dismiss="offcanvas">Instalaciones</a>
                        </li>
                        <li class="nav-item" *ngIf="rol == 4">
                            <a class="nav-link" [routerLink]="['/funcionalidades']" [routerLinkActive]="['active']"
                                data-bs-dismiss="offcanvas">Funcionalidades</a>
                        </li>
                        <li class="nav-item" *ngIf="rol == 4">
                            <a class="nav-link" [routerLink]="['/muelles']" [routerLinkActive]="['active']">Muelles</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Transitos
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" [routerLink]="['/transitos-list']"
                                        data-bs-dismiss="offcanvas">Transitos</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" [routerLink]="['/tripulantes']"
                                        data-bs-dismiss="offcanvas">Tripulantes</a></li>
                            </ul>
                        </li>
                    </ul>
                    <button class="btn bg-danger text-white mt-5" [routerLink]="['/logout']"
                        [routerLinkActive]="['active']" data-bs-dismiss="offcanvas">Cerrar sesión</button>
                </div>
            </div>
        </div>
    </nav>
</header>