<header class="fixed-top">
    <nav class="navbar bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" [routerLink]="['/home']">Puerto
                deportivo La Marina
                de Valencia</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <!-- <form class="d-flex mt-3" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form> -->

                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 mt-5">
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">Página
                                Principal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/users']" [routerLinkActive]="['active']">Usuarios</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/listaPlazas']" [routerLinkActive]="['active']">Plazas
                                bases</a>
                        </li>
                        <li class="nav-item" *ngIf="rol == 4">
                            <a class="nav-link" [routerLink]="['/roles']" [routerLinkActive]="['active']">Roles</a>
                        </li>
                        <li class="nav-item" *ngIf=" rol == 4">
                            <a class="nav-link" [routerLink]="['/instalacion']"
                                [routerLinkActive]="['active']">Instalaciones</a>
                        </li>
                        <li class="nav-item" *ngIf="rol == 4">
                            <a class="nav-link" [routerLink]="['/funcionalidades']"
                                [routerLinkActive]="['active']">Funcionalidades</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="#">Modulo 3</a>
                        </li> -->

                        <!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li> -->
                    </ul>


                    <button class="btn bg-danger text-white mt-5" [routerLink]="['/logout']"
                        [routerLinkActive]="['active']">Cerrar sesión</button>

                </div>
            </div>
        </div>
    </nav>
    <nav class="container-fluid breadcrumb" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a [routerLink]="['/home']">Home</a></li>
            <li class="breadcrumb-item active"><a [routerLink]="['/users'] ">Usuarios</a></li>
            <li class="breadcrumb-item active"><a [routerLink]="['/users']">Listado de usuarios</a></li>
        </ol>
    </nav>
</header>