<div id="container-logout">
    <div  class="d-flex justify-content-center align-items-center">
        <div class="card col-18 col-md-12">
            <h4 class="card-header p-5">Espero verte pronto, gracias por usar nuestros servicios!</h4>
            <div class="card-body p-3 d-flex justify-content-center align-items-center">
                <button class="btn btn-success px-5" (click)="loginAgain()">
                    <i class="fa-solid fa-rotate-left"></i> Salir
                </button>
            </div>
        </div>
    </div>
</div>